<ion-header>
  <ion-toolbar>
    <ion-title>Search Courses</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="loggedin">
        <ion-menu-button menu="m1"></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-grid>
    <ion-row >
      <ion-col size="6" *ngFor="let subcourse of searchCourse">
        

        <ion-card>
           
         
            <a [routerLink]="['/',subcourse._id]">
              <img src="{{subcourse.url}}">
            </a>
          
          <ion-card-content style="height: 100px;" style="background-color:white;">
              <ion-card-title style="font-size:13px; color:black">{{subcourse.name | topicShorten}}</ion-card-title>
              <ion-rating [rate]="subcourse.rate" readonly="true" size="small" ></ion-rating>
             <hr>
            </ion-card-content>
          
        </ion-card>
        


      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
