ion-content{
--background: linear-gradient(rgba(134, 227, 240, 0.829), rgb(166, 174, 175));
   
}
.item-main-catergory{
    --ion-background-color: white;
    
    opacity: 0.7;
    color :rgb(6, 62, 247);

}
.list-main-catergory{
    --ion-background-color: transparent;
    
    
}
