<ion-header>
  <ion-toolbar>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar style="margin-bottom:20px; margin-top:10px;"></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-label>Web Development</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mobile Development</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Music</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Science</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>mathematics</ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>
