<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="loggedin">
        <ion-menu-button menu="m1"></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    
          <ion-row>
            <ion-col size="10">

              <input type="text" placeholder="Search.." name="search" [(ngModel)]="search" style="width:100%;">
            </ion-col>
            <ion-col size="2">

              <button style="width:100%" (click)="onSearch()"><ion-icon name="search"></ion-icon></button>
            </ion-col>
          </ion-row>
        
        </div>
   
      <ion-row>
        <ion-col size="12">
          <!-- <ion-list *ngFor="let course of loadedCourse; let i = index">
            <ion-item  >
              <app-expandable  [expanded]="itemExpand"></app-expandable>
                <a (click)="getVlaue(i)"><ion-label >{{course.name}}{{i}}</ion-label></a>
            </ion-item>
          </ion-list> -->
          <ion-list *ngFor="let item of loadedCourse; let i = index;" class="list-main-catergory">
            <ion-item  (click)="onSelect(item.name,i)"  [ngClass]="{'section-active':item.open, 'section':!item.open}" class="item-main-catergory">
              
              <ion-icon slot="start" name="arrow-forward" color="dark"*ngIf="!item.open"></ion-icon>
              <ion-icon slot="start" name="arrow-down" color="primary" *ngIf="item.open"></ion-icon>
              {{item.name}}
            

            </ion-item>
            <div *ngIf="item.open">
              <ion-list *ngFor="let subcourse of loadedSubCourses.re">
                <ion-item>
                  <a class="ion-text-start" style="margin-left: 50px; text-decoration: none;" [routerLink]="['/browse','browse-tabs','categories',subcourse.name]" >
                      
                    {{subcourse.name}}
                  </a>
                </ion-item>
              </ion-list>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    
    
        
</ion-content>
