body{
    background-image: linear-gradient(rgba(134, 227, 240, 0.829), rgb(166, 174, 175));
}

ion-button{
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

div{
    margin-top: 150px;
    
}

div p{
    text-align: center;
    color: white;
}

