<ion-header>
  <ion-toolbar>
    <ion-title>sign In</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <body>
     <div>
              <ion-button expand = "full" color="primary" (click)="onLogin()"><ion-icon slot="start" name="mail" ></ion-icon>Sign in with email</ion-button>
          
        
              <ion-button expand="full"  color="primary" ><ion-icon slot="start" name="logo-facebook"></ion-icon>Sign in with facebook</ion-button>

             <p (click)="onSignUp()">Create new Account</p>
    </div>

   </body>   
   <!-- ----------------footer tab------------------- -->
   
</ion-content>
<ion-footer >
  <ion-toolbar color="medium">
    
  </ion-toolbar>
</ion-footer>