<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
    
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form >
    <ion-item>
        <ion-input  name="firstname"  id="firstName" placeholder="First Name" ></ion-input>    
      
        </ion-item>
      <ion-item>
          <ion-input  name="lastname" id="lastName" placeholder="Last Name"></ion-input> 
          
        </ion-item>
        <ion-item>
            <ion-input name="email" id="email" placeholder="Email"></ion-input> 
        
          </ion-item>
        <ion-item>
            <ion-input type="password"  name="password" id="password" placeholder="Password"></ion-input> 

        </ion-item>
        
      <ion-button type="submit" expand="block">Sign Up</ion-button> 
  </form>
</ion-content>