<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
    
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
     
       <ion-item>
        <ion-input   id="firstName" placeholder="First Name" formControlName="fname" class="form-controll"></ion-input>    
        </ion-item>
      <ion-item>
          <ion-input   id="lastName" placeholder="Last Name" formControlName="lname" class="form-controll"></ion-input> 
          
        </ion-item>
        <ion-item>
            <ion-input  id="email" placeholder="Email" formControlName="email" class="form-controll"></ion-input> 
        
          </ion-item>
        <ion-item>
            <ion-input type="password"   id="password" placeholder="Password" formControlName="password" class="form-controll"></ion-input> 

        </ion-item>
        
      <ion-button type="submit" expand="block">Sign Up</ion-button> 
  </form>
  
</ion-content>