<ion-app>
  <ion-menu side="end" menuId="m1">
      <ion-header style="--ion-background-color: grey;">
        <ion-toolbar>
          <ion-title style="color: white">
            Menu
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
                  <ion-content style="--background: linear-gradient(rgba(134, 227, 240, 0.829), rgb(166, 174, 175));">
                    <ion-list   style = "--ion-background-color: transparent;">
                      <ion-item *ngIf="!loggedin">
                        <a [routerLink]="['/signin']" style="text-decoration: none;">login</a>
                      </ion-item>
                      <ion-item *ngIf="loggedin">
                        <a [routerLink]="['/home']" (click)="onLogout()" style="text-decoration: none;">logout</a>
                      </ion-item>
                    </ion-list>
                  </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
