
    <ion-tabs >
        <ion-tab-bar slot="bottom" color="medium">
          <ion-tab-button tab="featured">
            <ion-icon name="star"></ion-icon>
            <ion-label>Top Courses</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="categories">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Categories</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="mycourses" *ngIf="loggedin">
            <ion-icon name="paper"></ion-icon>
            <ion-label>My courses</ion-label>
           </ion-tab-button>
          <ion-tab-button tab="settings" *ngIf="loggedin">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs> 

