<ion-header>
  <ion-toolbar>
    <ion-title>course-details</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/display-course"></ion-back-button>
        
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{loadedCourse.name}}</ion-card-title>
          </ion-card-header>
          <ion-img src="{{loadedCourse.url}}"></ion-img>
          <ion-card-content>{{loadedCourse.description}}
            <!-- <ion-button (click)="onRegistercourse()" *ngIf="userloggedIn()">Enroll</ion-button> -->
            <ion-button [routerLink]="['/',courseId,'enroll-course']">Enroll</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list *ngFor="let course of course.topics">

        <ion-item>{{course.topic}}</ion-item>
       
      </ion-list>
    </ion-row>
  </ion-grid>

</ion-content>
