body{
    background-image: linear-gradient(rgba(134, 227, 240, 0.829), rgb(166, 174, 175));
}

ion-slide{

    height: 528px;
    
   

}
ion-img{
    
    height: 300px;
    width: 300px;
}

p{
    color:black;
}