<ion-header>
  <ion-toolbar >
    <ion-title>home</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <body>
    <ion-slides pager="true" >
      <ion-slide >
        <ion-card>
            <ion-img src="assets/student.png"></ion-img>
            <p style="color:black; font-size: 18pt; ">Welcome<p>
        </ion-card>
          
            
        
      </ion-slide>
      
      <ion-slide>
          <ion-card>
              <ion-img src="assets/courses.png"></ion-img>
              <p style="color:black; font-size: 18pt">Find Best Course<p>
              
          </ion-card>
        
      
      </ion-slide>
      <ion-slide>
          <ion-card>
              <ion-img src="assets/teacher.png"></ion-img>
              <p style="color:black; font-size: 18pt">Find Best Instructors<p>
          </ion-card>
      </ion-slide>
    </ion-slides>
  </body>
  <!-- <ion-tabs >
      <ion-tab-bar slot="bottom" color="medium">
        <ion-tab-button tab="browse">
          <ion-icon name="browsers"></ion-icon>
          <ion-label>Browse</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button tab="signin">
          <ion-icon name="log-in"></ion-icon>
          <ion-label>Sign In</ion-label>
        </ion-tab-button>
    
        
      </ion-tab-bar>
    </ion-tabs> -->
</ion-content>
<ion-footer >
  <ion-toolbar color="medium">
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-button (click)="goBrowse()">Browse</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button (click)="goSignIn()">Sign In</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
