<ion-header>
  <ion-toolbar>
    <ion-title>display-course</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/categories"></ion-back-button>
        
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item *ngFor="let subcourse of loadedSubCourse">
      <ion-avatar slot="start">
          <img src="{{subcourse.url}}">
        </ion-avatar>
      <a [routerLink]="['/',subcourse._id]"><ion-label position="stacked">{{subcourse.name}}</ion-label>
        <ion-label position="stacked">By: {{subcourse.author}}</ion-label>
      </a>
      
  </ion-item> -->

  <ion-grid>
    <ion-row >
      <ion-col size="6" *ngFor="let subcourse of loadedSubCourse">
        

        <ion-card>
           
         
            <a [routerLink]="['/',subcourse._id]">
              <img src="{{subcourse.url}}">
            </a>
          
          <ion-card-content style="height: 100px; background-color:white;">
              <ion-card-title style="font-size:13px;">{{subcourse.name | topicShorten}}</ion-card-title>
              <ion-rating [rate]="subcourse.rate" readonly="true" size="small" ></ion-rating>
             
          </ion-card-content>
        </ion-card>
        


      </ion-col>
      
    </ion-row>
  </ion-grid>
  <div >
 </div>
</ion-content>
